


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Store_Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/toys">Toy Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<h3 class="text-center">This Page is only for Store_Admin</h3>


<figure class="text-center">
  <blockquote class="blockquote">
    <p>To add customer information for Electronic Store please select "Electronics"</p>
    <p>To add customer information for Toy Store please select "Toy Store"</p>

  </blockquote>
  <figcaption class="blockquote-footer">
    By <cite title="Source Title">The Dev Team</cite>
  </figcaption>
</figure>