


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/electronics">Electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/toys">Toy Store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<p>description on how to use or Introduction</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta reprehenderit tempore aliquam tenetur illum ipsam porro iusto quisquam sequi? Velit, laboriosam pariatur quibusdam aliquam praesentium officia distinctio corporis voluptate consectetur!</p>