

.banner {
    background-image: url("/img/cover.jpg");
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    opacity: 95%;
}

.text-container{
    background-color: rgba(15, 15, 15, 0.596) ;
}

.main-text {
    color: white;
    padding-top: 0.5rem;
}

.info-section {
    background-color: whitesmoke;
    font-weight: 300;
}